@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Overpass:ital,wght@1,100;1,500&family=Poppins:ital,wght@1,900&display=swap');


.container {
    
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.arrows {
    background-color: transparent;
    border: none;
}

.arrows button{
    margin-top: 10px;
    background-color: transparent;
    border: none;
    font-size: 30px;    
    font-family: Oswald;
}

.container h1{
    font-family: Oswald;
   
}


.img{
    background-color: brown;
    width: 210px;
    height: 210px;
    border-radius: 360px;
}

.img img{
    width: 200px;
    height: 200px;
    border-radius: 360px;
}


.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding: 80px;
    margin-top: 20px;
}

.underline{
    margin-top: -10px;
    background-color: red;
    width: 50px;
    height: 2px;
}

.title{
  
    background-color: black;
    border-radius: 25px;
    padding: 20px;
    display: grid;
    grid-auto-columns: 1fr;
    align-items: center;
    
}

.title h1{
    text-align: center;
    color: white;
}

.title button{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    border-color: white;
    margin: auto;
   
}


.def{
    margin-top: 0;
    font-size: 20px;
    font-family: Oswald;
    color: brown;

}

.name{
    margin: 0 0 0 0;
    margin-top: 20px;
    font-family: Oswald;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}